/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --border-color: #000;
  --background-color: #fff;
  --main-color: #000;
  --button-color: #fff;
  --main-bg-color: #000;
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --text-weight: 400;
  --title-weight: 715;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --header-size: clamp(3.0625rem, 2.7117rem + 1.4967vw, 4.0625rem);
  --logo-size: clamp(0.875rem, 0.6777rem + 0.8419vw, 1.4375rem);
  --header-container-padding: clamp(7.625rem, 7.4496rem + 0.7484vw, 8.125rem);
  --outline-color: rgba(255, 255, 255, 0.7);
  --contour-color: #000;
  --animation-fill-color: #ff0000;
}
@media (width>=375px) {
  .card__description {
    --text-weight: 410;
  }
}
